.dashboard-container {
  font-family: "montserrat", sans-serif;
  margin: 0;
  display: flex;
  background: var(--color-background);
  min-height: 100vh;
}

/* ===== CONTEÚDO PRINCIPAL ===== */
.dashboard-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-left 0.3s ease;
}

/* ===== LOGO ===== */
.logo-dashboard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 12px;
  overflow: hidden;
}

.logo-dashboard img {
  width: 85px;
  height: auto;
  opacity: 0.7;
  object-fit: cover;
  flex-shrink: 0;
  transition: width 0.3s ease;
  transform-origin: left;
}

.side-dashboard:hover .logo-dashboard img {
  width: 270px;
  opacity: 0.7;
}

.v-style {
  font-size: 8px;
  color: var(--text-side);
  opacity: 0.7;
}

/* ===== SIDEBAR ===== */
.side-dashboard {
  background: var(--side);
  height: 95vh;
  position: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.147);
  width: 50px;
  transition: width 0.3s ease;
  overflow: hidden;
  border-radius: 15px;
}

.side-dashboard:hover {
  width: 260px;
  align-items: start;
}

/* ===== TÍTULOS ===== */
.name-side {
  font-size: 14px;
  color: var(--text-side);
  font-weight: 600;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.2s ease;
}

.side-dashboard:hover .name-side {
  opacity: 1;
}

/* ===== INPUT (se usar depois) ===== */
.search-input {
  padding: 10px;
  margin: 0;
  width: 240px;
  border-radius: 25px;
  border: 1px solid var(--border);
}

/* ===== LINKS ===== */
.card {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-side);
  white-space: nowrap;
}

/* ÍCONE */
.icon-side {
  color: var(--text-side);
  font-size: small;
  padding: 5px;
  min-width: 24px;
  display: flex;
  justify-content: center;
}

/* TEXTO DO MENU */
.card .label {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.side-dashboard:hover .card .label {
  opacity: 1;
}

/* ===== ÁREA DE CARDS ===== */
.dashboard-cards {
  position: relative;
}

/* ===== LOADING OVERLAY ===== */
.loading-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== SPINNER ===== */
.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.theme-toggle-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.switch {
  width: 50px;
  height: 26px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.slider {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
}

.slider.active {
  transform: translateX(24px);
  background: var(--side);
}

.pro-btn {
  background: var(--primary);
  border: 1px solid var(--border);
  border: none;
  padding: 3px 6px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 8px;
}

/* Esconde toggle quando sidebar estiver fechada */
.theme-toggle-container {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* Mostra quando expandir */
.side-dashboard:hover .theme-toggle-container {
  opacity: 1;
  pointer-events: auto;
}

.label {
  font-size: 12px;
  color: var(--text-side);
}